@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Transactions</PageTitle>

<h1>Transactions</h1>

@if (txs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:right">Date</th>
                <th>Payee</th>
                <th style="text-align:right">Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tx in txs.Items)
            {
                <tr>
                    <td style="text-align:right" >@tx.Timestamp.Date.ToString("M/dd")</td>
                    <td>@tx.Payee</td>
                    <td style="text-align:right">@tx.Amount.ToString("C2")</td>
                    <td>@tx.Category</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WireApi.Client.TransactionWireQueryResult txs;

    protected override async Task OnInitializedAsync()
    {
        var wireapi = new WireApi.Client.WireApiClient("/",Http);

        txs = await wireapi.ListTransactionsAsync(null,null,null,null,null); // await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
